[data-aos="fill-bar-80"] {
    width: 0;
    color: transparent;
    transition-property: width, color;
}

[data-aos="fill-bar-80"].aos-animate {
    width: 80%;
    color: black;
}

[data-aos="fill-bar-70"] {
    width: 0;
    color: transparent;
    transition-property: width, color;
}

[data-aos="fill-bar-70"].aos-animate {
    width: 70%;
    color: black;
}

[data-aos="fill-bar-65"] {
    width: 0;
    color: transparent;
    transition-property: width, color;
}

[data-aos="fill-bar-65"].aos-animate {
    width:65%;
    color: black;
}

[data-aos="fill-bar-60"] {
    width: 0;
    color: transparent;
    transition-property: width, color;
}

[data-aos="fill-bar-60"].aos-animate {
    width:60%;
    color: black;
}

[data-aos="fill-bar-50"] {
    width: 0;
    color: transparent;
    transition-property: width, color;
}

[data-aos="fill-bar-50"].aos-animate {
    width:50%;
    color: black;
}

[data-aos="fade-in"] {
    opacity: 0;
    transition-property: opacity;
}

[data-aos="fade-in"].aos-animate {
    opacity: 1;
}