body {
  min-height: 100vh;
  display: flex;
}
@keyframes piscar {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
/* -- Estilo Rodapé -- */
#footer {
  background-color: #027333;
  color: #ffffff;
  border-top: 1px solid #ffffff;
}
/* -- Estilo dos links no rodapé -- */
#footer .a {
  text-decoration: none;
  color: white;
}