/* -- Style page Projetos -- */
body {
    display: flex;
    min-height: 100vh;
}
header {
    display: flex;
}
footer {
    display: flex;
}
#projetos {
    background-color: #161225;
}
.img-fluid {
    border-radius: 15%;
}