/* -- Style page Projetos -- */
body {
    min-height: 100vh;
    display: flex;
}
main {
    display: flex;
    width: 100%;
}
#projetos {
    background-color: #161225;
}
.img-fluid {
    border-radius: 15%;
}
footer {
    height: auto;
}