/* -- Style page Home -- */
body {
  display: flex;
  min-height: 100vh;
}
header {
  display: flex;
}
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto !important;
}
@keyframes piscar {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.img-fluid {
  border-radius: 15%;
}