* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home {
  background-color: #0b0c10;
  height: 100vh;
}

#header {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header h1 {
  font-family: 'Nosifer', sans-serif;
  color: #0b0c10;
  -webkit-text-stroke-color: #7619b1c5;
  -webkit-text-stroke-width: 0.15vw;
  font-size: 8vw;
  text-align: center;
  cursor: default;
  margin: 0;
}

#header h1::selection {
  color: none;
  background: none;
}

#header h1::-moz-selection {
  color: none;
  background: none;
}

#header h3::selection {
  color: none;
  background: none;
}

#header h3::-moz-selection {
  color: none;
  background: none;
}

#header h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.2vw;
  font-weight: 300;
  color: white;
  margin: 0 0 1vw;
  letter-spacing: 0.2vw;
}

#about-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#about {
  background-color: rgba(14, 66, 18, 0.77);
  height: 100vh;
}

#about-container {
  border-left: 0.15vw solid #0b0c10;
  width: 80%;
  position: relative;
}

#about-container h6 {
  font-family: "Lato", sans-serif;
  font-size: 0.8vw;
  letter-spacing: 0.2vw;
  margin-left: 4vw;
  margin-top: 0.5vw;
}

#about-container h1 {
  color: #0b0c10;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 6vw;
  margin: 0 0 0 4vw;
  cursor: default;
}

#about-container p {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 2vw;
  font-size: 1.3vw;
  width: 60%;
  margin-left: 4vw;
  margin-bottom: 3vw;
}

#about-container img {
  height: 100%;
  border: 0.15vw solid #260138;
  position: absolute;
  right: 0;
  top: 0;
}

#about-container a {
  font-family: 'Lato', sans-serif;
  color: #0b0c10;
  font-weight: 700;
  font-size: 0.9vw;
  letter-spacing: 0.15vw;
  margin-left: 4vw;
  text-underline-offset: 0.5vw;
  transition: color 0.3s, text-underline-offset 0.3s;
}

#about-container a:hover {
  color: #2b7a78;
  text-underline-offset: 0.2vw;
}

.ignore {
  visibility: hidden;
  font-size: 0.8vw;
}

/* footer de Contato */

#contact-bg {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#contact {
  display: flex;
  justify-content: center;
  background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 1px, transparent 1px, transparent 6px);
  background-size: 8px 8px;
  height: 70vh;
}

#contact-overlay {
  background-color: #ffffff;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact-overlay h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 7vw;
  margin: -3vw 0 0 8vw;
  cursor: default;
  color: black;
}

#contact-overlay p {
  margin-left: 8vw;
  width: 60%;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 2vw;
  font-size: 1.3vw;
}

#social-media-group-contact {
  display: flex;
  flex-direction: column;
  margin-left: 9vw;
  margin-top: 1.5vw;
}

.social-btn {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5vw !important;
  width: 80%;
  margin-bottom: 1vw;
  border-radius: 0.5vh;
}

/* Seção de Hard Skills */

#hard-skills {
  background: linear-gradient(110deg, #000000 60%, #4f00b7 60%);
  height: 100vh;
}

#hard-skills-content {
  width: 80%;
  border-left: 0.15vw solid #fdffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hard-skills-content h1 {
  font-family: 'Barlow Condensed', sans-serif;
  color: #ffffff;
  font-size: 6vw;
  margin: 0 0 0 4vw;
  cursor: default;
}

.hard-skill {
  position: relative;
}

.hard-skillbox {
  border-radius: 2vw;
  width: 90%;
  border: 0.15vw solid #ffffff;
  margin-left: 8vw;
  margin-top: 3.2vw;
}

.hard-skillbar {
  padding-top: 0.5vw;
  border-radius: 2vw 0 0 2vw;
  padding-bottom: 0.5vw;
  background-color: #185e00;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  font-weight: 700;
  text-align: right;
  padding-right: 1vw;
  font-size: 0.8vw;
}

.hard-skill img {
  width: 3vw;
  position: absolute;
  left: 4vw;
  top: 2.5vw;
}

.title {
  position: absolute;
  top: 1.5vw;
  left: 8vw;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1vw;
  color: white;
}

/* Seção Soft-Skills */

.frame-soft-skills {
  background: linear-gradient(90deg, #ffffff 50%, #ffffff 50%);
  height: 70vh;
  width: 60%;
  margin: 0 5vw 1vw 15vw;
  border-radius: 1vw;
}

#soft-skills {
  background: linear-gradient(#DC2743 60%, #4f00b7 60%);
  height: 100vh;
}

#soft-skills-content {
  width: 80%;
  border-left: 0.20vw solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#soft-skills-content h1 {
  font-family: 'Barlow Condensed', sans-serif;
  color: #ffffff;
  font-size: 6vw;
  margin-top: 0.1rem;
  margin-left: 4vw;
  cursor: default;
}

.soft-skill {
  position: relative;
}

.soft-skillbox {
  border-radius: 2vw;
  width: 80%;
  border: 0.15vw solid #000000;
  margin-top: 3vw;
}

.soft-skillbar {
  padding-top: 0.5vw;
  border-radius: 2vw 0 0 2vw;
  padding-bottom: 0.5vw;
  background-color: #185e00;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  font-weight: 700;
  text-align: right;
  padding-right: 1vw;
  font-size: 0.8vw;
}

.soft-skill img {
  width: 3vw;
  position: absolute;
  left: 4vw;
  top: 2.5vw;
}

.title-soft {
  position: absolute;
  top: 2vw;
  left: 9vw;
  font-family: 'JejuGothic-Regular', sans-serif;
  color: #000000;
  width: 60%;
  font-size: 1.5vw;
}

/* Seção de Projetos */

#projects {
  background-color: #33963d;
  padding: 100px 0 280px 0;
}

#projects h1 {
  font-family: 'Barlow Condensed', sans-serif;
  color: #ffffff;
  font-size: 5vw;
  margin-left: 16vh;
}

/* Navbar */

nav {
  position: fixed;
  width: 100%;
  z-index: 5;
}

#navbar {
  top: 0;
  background-color: transparent;
  opacity: 0;
  transition: top 0.3s, background-color 0.3s, opacity 0.3s;
}

nav ul {
  margin-top: 1.3vw;
  list-style: none;
  text-align: right;
  margin-right: 2vw;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 0.78125vw;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin: 0 0.52083vw;
  letter-spacing: 0.05vw;
  font-family: 'Lato', sans-serif;
  font-size: 0.85vw;
}

nav ul li a {
  border-bottom: 0.2vw solid transparent;
  transition: color 0.3s, border-bottom 0.3s;
}

nav ul li a:hover {
  color: #66fcf1;
  border-bottom: 0.2vw solid #66fcf1;
}

#sidebar {
  display: none;
}